* {
  box-sizing: border-box;
  font-family: monospace;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div {
  display: flex;
  align-items: center;
}
button {
  border-radius: 1 rem;
}
main {
  display: flex;
  flex-direction: column;
}
